.abtinfo{
    padding: 10px;
    border: solid green 1px;
    box-shadow: 5px 5px;
    border-radius: 5px;
    margin:10px;
}
.rating{
    margin:10px;
    padding:10px;
    font-weight: bold;
    color:green;
}
button{
    border-radius: 10px;
    padding: 8px 16px;
    color:lawngreen;
    background-color: black;
    margin-left:100px;
}