.abtinfo{
    padding: 10px;
    border: solid green 2px;
    box-shadow: 9px 9px 9px grey;
    border-radius: 5px;
    margin-left:20px;
    margin-right:400px;
    align-self: left;

}
.rating{
    margin:10px;
    padding:10px;
    font-weight: bold;
    color:green;
}
button{
    border-radius: 10px;
    padding: 8px 16px;
    color:lawngreen;
    background-color: black;
    margin-left:100px;
    border-style: dashed;
    border-left:none;
    border-right: none;
    cursor:pointer;
}
button:hover{
    background-color: lawngreen;
    color:black;
}